<h1>PRODUCT LIST</h1>

<ul>
    {{#if products}}
    <p>Total de productos: {{products.length}}</p>
    {{#each products}}
    {{#if thumbnails}}
            <img src="{{thumbnails.[0]}}" alt="img" width="100px" height="100px">
        {{else}}
            <p>NO IMAGEN</p>
        {{/if}}
    <li>
        <strong> {{title}}</strong>
              <p>{{price}}</p>
              <p>{{description}}</p>
    </li>
    {{/each}}

    {{else}}
    <p style="padding: 30px; ">No hay productos cargados, ingresalos desde /realtimeproducts !</p>
    {{/if}}
</ul>


<script src="/socket.io/socket.io.js"></script>
<script src="/main"></script>
